::-webkit-scrollbar {
  width: 9px
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(right top, #5a5a5a, #737373);
  border-radius: 50px
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 273px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 8px auto 60px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 428px;
}

.u-section-2 .u-list-1 {
  height: auto;
  margin: -97px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  grid-gap: 18px 18px;
  min-height: 352px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 15px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-icon-1 {
  height: 88px;
  width: 88px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -88px 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-text-1 {
  margin: 82px 0 0 15px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0 15px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 16px 15px;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-icon-2 {
  height: 88px;
  width: 88px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -88px 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-text-3 {
  margin: 82px 0 0 15px;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 20px 0 0 15px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 16px 15px;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-icon-3 {
  height: 88px;
  width: 88px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -88px 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-text-5 {
  margin: 82px 0 0 15px;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0 15px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 16px 15px;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-icon-4 {
  height: 88px;
  width: 88px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 0;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -88px 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-2 .u-text-7 {
  margin: 82px 0 0 15px;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 20px 0 0 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 290px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 889px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 372px;
}

.u-section-3 .u-list-1 {
  height: auto;
  margin: -97px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 18px 18px;
  min-height: 352px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 16px 15px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: 0 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-icon-1 {
  height: 88px;
  width: 88px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 9px auto 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  background-image: none;
  margin: -88px 0 0 auto;
  padding: 7px 27px 7px 26px;
}

.u-section-3 .u-text-1 {
  margin: 82px 0 0 15px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 20px 0 0 15px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}
