::-webkit-scrollbar {
  width: 9px
}

::-webkit-scrollbar-track {
  background: rgba(179, 23, 239, 0.1);
}

::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(right top, #5a5a5a, #737373);
  border-radius: 50px
}

.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 559px;
}

.u-section-1 .u-group-1 {
  width: 295px;
  min-height: 263px;
  animation-duration: 3500ms;
  margin: 60px auto 60px 27px;
}

.u-section-1 .u-image-1 {
  width: 128px;
  height: 128px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 27px 1px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  /* font-size: 1rem; */
  margin: 60px 57px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: 11px auto 0 0;
  padding: 7px 17px 8px 16px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.9375rem;
  border-style: none;
  font-weight: 700;
  background-image: none;
  margin: -39px 0 0 auto;
  padding: 7px 23px 8px 22px;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 454px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 28.6667px) calc(33.3333% - 28.6667px) calc(33.3333% - 28.6667px);
  grid-gap: 43px 43px;
  min-height: 315px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  animation-duration: 750ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  margin: 20px 21px 0 1px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 750ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: 300;
  margin: 20px 21px 0 1px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  animation-duration: 750ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 300;
  margin: 30px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 300;
  margin: 20px 21px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}
